@page "/Skapa-Event"
@using GameStore.Shared.DTO;
@using GameStore.Shared.DataModels;
@using GameStore.Shared.Services.Blobstorage;
@using GameStore.Shared.Services.Interfaces;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components;
@using GameStore.Client.HttpClientFolder;

@attribute [Authorize(Roles = "Administrator")]

@inject PublicClient _client;
@inject IBlobStorageService blobStorageService
@inject NavigationManager _nm;

<EditForm Model="@_event" OnSubmit="@HandleSubmit">
    <div class="mb-3">
        <label class="form-label">Event namn</label>
        <InputText class="form-control" id="eventName" @bind-Value="_event.EventName" />
    </div>

    <div class="mb-3">
        <label class="form-label">Datum</label>
        <InputDate Type="InputDateType.DateTimeLocal" min="@minDate" class="form-control" @bind-Value:format="dd/MM/yyyy hh:mm:ss" @bind-Value="@_event.Date" />
    </div>

    <div class="mb-3">
        <label class="form-label">Pris</label>
        <InputNumber class="form-control" min="0" id="price" @bind-Value="_event.Price" />
    </div>

    <div class="mb-3">
        <label class="form-label">Max antal platser</label>
        <InputNumber class="form-control" min="1" id="maxAvailableSeats" @bind-Value="_event.MaxAvailableSeats" />
    </div>

    <div class="mb-3">
    <label class="form-label">Bild</label>
    <InputFile class="form-control" disabled="@fileLoading" OnChange="@OnInputFileChange" single  />
    </div>

    <div class="mb-3">
        <label class="form-label">Ålders rekommendation</label>
        <InputText class="form-control" id="AgeRecommendation" @bind-Value="_event.AgeRecommendation" />
    </div>

    <div class="mb-3">
        <label class="form-label">Allergier</label>
        <InputText class="form-control" id="allergies" @bind-Value="_event.Allergies" />
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <InputText class="form-control" id="address" @bind-Value="_event.Address" />
    </div>
    <div class="mb-3">
        <label class="form-label">Postnummer</label>
        <InputText class="form-control" id="postalCode" @bind-Value="_event.PostalCode" />
    </div>
    <div class="mb-3">
        <label class="form-label">Stad</label>
        <InputText class="form-control" id="city" @bind-Value="_event.City" />
    </div>

    <div class="mb-3">
        <label class="form-label">Beskrivning av event</label>
        <InputTextArea class="form-control" id="email" @bind-Value="_event.Description" />
    </div>

    <button type="submit" disabled="@fileLoading" class="btn btn-success" @onclick="@HandleSubmit">Skapa event</button>
</EditForm>